{% extends "layout.html" %}
{% block body %}
<div class="discover load-more">
    <h2>{{title}}</h2>
    <div class="row">

        {% for entry in entries %}
        <div class="col-sm-3 col-lg-2 col-xs-6 book">
            <div class="cover">
                {% if entry.has_cover is defined %}
                <a href="{{url_for('series', book_id=entry.id)}}">
                    <img src="{{ url_for('get_cover', cover_path=entry.book[0].path.replace('\\','/')) }}"
                         alt="{{ entry.title }}"/>
                </a>
                {% endif %}
            </div>
            <div class="meta">
                <p class="title"><a href="{{url_for('series', book_id=entry.id)}}">{{entry.name}}</a></p>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}
