{% extends "layout.html" %}
{% block body %}
<div class="discover">
  <h1>{{title}}</h1>
  <form role="form" class="col-md-10 col-lg-6" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <p>{{ _('Enter your Google OAuth2 Client ID and Secret. Create these at') }}
      <a href="https://console.developers.google.com/apis/credentials" target="_blank">Google Cloud Console</a>.
      {{ _('Set the redirect URI to:') }}
    </p>
    <pre>{{ redirect_uri }}</pre>
    <p><a href="https://github.com/mwstowe/calibre-web/blob/master/docs/gdrive-send.md" target="_blank">{{ _('Setup guide and troubleshooting') }}</a></p>
    <div class="form-group">
      <label for="config_gdrive_send_client_id">{{_('Google OAuth Client ID')}}</label>
      <input type="text" class="form-control" name="config_gdrive_send_client_id" id="config_gdrive_send_client_id" value="{{ content.config_gdrive_send_client_id or '' }}">
    </div>
    <div class="form-group">
      <label for="config_gdrive_send_client_secret_e">{{_('Google OAuth Client Secret')}}</label>
      <input type="password" class="form-control" name="config_gdrive_send_client_secret_e" id="config_gdrive_send_client_secret_e" value="">
    </div>
    <button type="submit" name="submit" value="submit" class="btn btn-default">{{_('Save')}}</button>
    <a href="{{ url_for('admin.admin') }}" class="btn btn-default">{{_('Back')}}</a>
  </form>
</div>
{% endblock %}
