{% from 'modal_dialogs.html' import restrict_modal, delete_book, filechooser_modal, delete_confirm_modal, change_confirm_modal %}
{% import 'image.html' as image %}
<!DOCTYPE html>
<html lang="{{ current_user.locale }}">
  <head>
    <title>{{instance}} | {{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/libs/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    {% block header %}{% endblock %}
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/upload.css') }}" rel="stylesheet" media="screen">
  </head>
  <body class="{{ page }} {{ bodyClass }}">

<!-- BEGIN MAIN APP-->    
<div class="app-wrapper">
  {% if current_user.is_authenticated or g.allow_anonymous %}
    <div id="bookbag-navbar">
      <div id="navbar-menus-wrapper">        
        <div class="navigation-items">
            <button class="nav-button" a href="{{url_for('web.books_list', data=page, book_id=id, sort_param='stored')}}">
              <div class="nav-button-icon">
                <span class="glyphicon glyphicon-book"></span>
              </div>
              <div class="nav-button-text">
                Books
                </div>
              </button>
          <!--DEPRECATED: SIDEBAR NAVIGATION-->
          <!--<ul class="list-unstyled">
            {% for element in sidebar %}
              {% if current_user.check_visibility(element['visibility']) and element['public'] %}
                <li id="nav_{{element['id']}}" {% if page == element['page'] %}class="active"{% endif %}>
                  <a href="{% if element['no_param'] %}{{url_for(element['link'], data=element['page'])}}{%else%}{{url_for(element['link'], data=element['page'], sort_param='stored')}}{% endif %}">
                    <span class="glyphicon {{element['glyph']}}"></span> {{_(element['text'])}}
                  </a>
                </li>
              {% endif %}
            {% endfor %}
              -->
            <!--<li class="nav-head public-shelves">{{_('Shelves')}}</li>
            {% for shelf in g.shelves_access %}
              <li><a href="{{url_for('shelf.show_shelf', shelf_id=shelf.id)}}"><span class="glyphicon glyphicon-list"></span> {{shelf.name|shortentitle(40)}}</a></li>
            {% endfor %}-->
        </div>
        <div class="navigation-items">
            <button class="nav-button" a href="{{url_for('web.profile')}}"><span class="glyphicon glyphicon-user"></span></a></button>
            {% if current_user.role_admin() %}
              <button class="nav-button" a href="{{url_for('admin.admin')}}"><span class="glyphicon glyphicon-dashboard"></span></a></button>
            {% endif %}
            {% if not current_user.is_anonymous %}
              <button class="nav-button" a href="{{url_for('web.logout')}}"><span class="glyphicon glyphicon-log-out"></span></a></button>
            {% endif %}
          </ul>
          </div>
        </nav>
        {% endif %}
      </div>
    </div>



    <div class="main-content-wrapper">
      
      {% for category, message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ 'danger' if category == 'error' else category }} text-center">{{ message }}</div>
      {% endfor %}

      {% block body %}{% endblock %}


    </div>

    {% block modal %}{% endblock %}
    


    {% block js %}{% endblock %}
</div>
<!--END MAIN APP-->


<!-- POPOVERS/MODAL DIALOGS (WIP)-->

<!-- Deprecated: Modal Dialogs
    <div class="modal fade" id="bookDetailsModal" tabindex="-1" role="dialog" aria-labelledby="bookDetailsModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="bookDetailsModalLabel">{{_('Book Details')}}</h4>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button type="button" id="details_close" class="btn btn-default" data-dismiss="modal">{{_('Close')}}</button>
          </div>
        </div>
      </div>
    </div>
  -->


</body>
</html>