{% extends "layout.html" %}
{% block body %}
<h1 class="{{page}}">{{_(title)}}</h1>
  <div class="container">
    <div class="col-xs-12 col-sm-6">
    {% for entry in entries %}
      {% if loop.index0 == (loop.length/2)|int and loop.length > 20 %}
        </div>
        <div class="col-xs-12 col-sm-6">
      {% endif %}
      <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-1" align="left"><span class="badge">{{entry.count}}</span></div>
        <div class="col-xs-10 col-sm-10 col-md-11"><a id="list_{{loop.index0}}" href="{{url_for(folder, book_id=entry[0].id )}}">{{entry[0].name}}</a></div>
      </div>
    {% endfor %}
  </div>
  </div>
{% endblock %}
