{% extends "layout.html" %}
{% block body %}
<div class="discover">
    {% if entries|length < 1 %}
      <h2>{{_('No Results Found')}} {{adv_searchterm}}</h2>
      <p>{{_('Search Term:')}} {{adv_searchterm}}</p>
    {% else %}
      <h2>{{entries|length}} {{_('Results for:')}} {{adv_searchterm}}</h2>
      {% if g.user.is_authenticated %}
        {% if g.user.shelf.all() or g.shelves_access %}
          <div id="shelf-actions" class="btn-toolbar" role="toolbar">
            <div class="btn-group" role="group" aria-label="Add to shelves">
              <button id="add-to-shelf" type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="glyphicon glyphicon-list"></span> {{_('Add to shelf')}}
                <span class="caret"></span>
              </button>
              <ul id="add-to-shelves" class="dropdown-menu" aria-labelledby="add-to-shelf">
                {% for shelf in g.shelves_access %}
                  {% if not shelf.id in books_shelfs and ( not shelf.is_public or g.user.role_edit_shelfs() ) %}
                    <li><a href="{{ url_for('shelf.search_to_shelf', shelf_id=shelf.id) }}"> {{shelf.name}}{% if shelf.is_public == 1 %} {{_('(Public)')}}{% endif %}</a></li>
                  {% endif %}
                {%endfor%}
              </ul>
            </div>
          </div>
        {% endif %}
      {% endif %}
      <!--div class="filterheader hidden-xs hidden-sm"--><!-- ToDo: Implement filter for search results -->
        <!--a id="new" class="btn btn-primary" href="{{url_for('web.books_list', data=page, sort='new')}}"><span class="glyphicon glyphicon-sort-by-order"></span></a>
        <a id="old" class="btn btn-primary" href="{{url_for('web.books_list', data=page, sort='old')}}"><span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
        <a id="asc" class="btn btn-primary" href="{{url_for('web.books_list', data=page, sort='abc')}}"><span class="glyphicon glyphicon-font"></span><span class="glyphicon glyphicon-sort-by-alphabet"></span></a>
        <a id="desc" class="btn btn-primary" href="{{url_for('web.books_list', data=page, sort='zyx')}}"><span class="glyphicon glyphicon-font"></span><span class="glyphicon glyphicon-sort-by-alphabet-alt"></span></a>
        <a id="pub_new" class="btn btn-primary" href="{{url_for('web.books_list', data=page, sort='pubnew')}}"><span class="glyphicon glyphicon-calendar"></span><span class="glyphicon glyphicon-sort-by-order"></span></a>
        <a id="pub_old" class="btn btn-primary" href="{{url_for('web.books_list', data=page, sort='pubold')}}"><span class="glyphicon glyphicon-calendar"></span><span class="glyphicon glyphicon-sort-by-order-alt"></span></a>
      </div>
      <div class="btn-group character" role="group">
        <a id="no_shelf" class="btn btn-primary" href="{{url_for('web.books_list', data=page, sort='pubold')}}"><span class="glyphicon glyphicon-list"></span><b>?</b></a>
        <div id="all" class="btn btn-primary">{{_('All')}}</div>
      </div-->
  {% endif %}

  <div class="row">
    {% for entry in entries %}
    <div class="col-sm-3 col-lg-2 col-xs-6 book">
      <div class="cover">
        {% if entry.has_cover is defined %}
           <a href="{{ url_for('web.show_book', book_id=entry.id) }}" data-toggle="modal" data-target="#bookDetailsModal" data-remote="false">
            <img src="{{ url_for('web.get_cover', book_id=entry.id) }}" alt="{{ entry.title }}" />
          </a>
        {% endif %}
      </div>
      <div class="meta">
        <a href="{{ url_for('web.show_book', book_id=entry.id) }}" data-toggle="modal" data-target="#bookDetailsModal" data-remote="false">
          <p class="title">{{entry.title|shortentitle}}</p>
        </a>
        <p class="author">
          {% for author in entry.authors %}
            {% if loop.index > g.config_authors_max and g.config_authors_max != 0 %}
              {% if not loop.first %}
                <span class="author-hidden-divider">&amp;</span>
              {% endif %}
              <a class="author-name author-hidden" href="{{url_for('web.books_list',  data='author', sort='new', book_id=author.id) }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
              {% if loop.last %}
                <a href="#" class="author-expand" data-authors-max="{{g.config_authors_max}}" data-collapse-caption="({{_('reduce')}})">(...)</a>
              {% endif %}
            {% else %}
              {% if not loop.first %}
                <span>&amp;</span>
              {% endif %}
              <a class="author-name" href="{{url_for('web.books_list',  data='author', sort='new', book_id=author.id) }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
            {% endif %}
          {% endfor %}
          {% for format in entry.data %}
            {% if format.format|lower == 'mp3' %}
            <span class="glyphicon glyphicon-music"></span>
            {% endif %}
          {% endfor %}
        </p>
        {% if entry.ratings.__len__() > 0 %}
        <div class="rating">
          {% for number in range((entry.ratings[0].rating/2)|int(2)) %}
            <span class="glyphicon glyphicon-star good"></span>
            {% if loop.last and loop.index < 5 %}
              {% for numer in range(5 - loop.index) %}
                <span class="glyphicon glyphicon-star"></span>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
