{% extends "layout.html" %}
{% block body %}
<div class="col-sm-8">
  <form role="form" action="{{ url_for('advanced_search') }}" method="GET">
    <div class="form-group">
      <label for="book_title">{{_('Book Title')}}</label>
      <input type="text" class="form-control" name="book_title" id="book_title" value="">
    </div>
    <div class="form-group">
      <label for="bookAuthor">{{_('Author')}}</label>
      <input type="text" class="form-control typeahead" name="author_name" id="bookAuthor" value="" autocomplete="off">
    </div>
    <label for="Tags">{{_('Include Tags')}}</label>
    <div class="form-group">
      <div class="btn-toolbar btn-toolbar-lg" data-toggle="buttons">
        {% for tag in tags %}
          <label id="tag_{{tag.id}}" class="btn btn-primary tags_click">
            <input type="checkbox" autocomplete="off" name="include_tag" value="{{tag.id}}">{{tag.name}}</input>
          </label>
        {% endfor %}
      </div>
    </div>
    <label for="Tags">{{_('Exclude Tags')}}</label>
    <div class="form-group">
      <div class="btn-toolbar btn-toolbar-lg" data-toggle="buttons">
        {% for tag in tags %}
          <label id="tag_{{tag.id}}" class="btn btn-danger tags_click">
            <input type="checkbox" autocomplete="off" name="exclude_tag" value="{{tag.id}}">{{tag.name}}</input>
          </label>
        {% endfor %}
      </div>
    </div>
    <button type="submit" class="btn btn-default">{{_('Submit')}}</button>
  </form>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/typeahead.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit_books.js') }}"></script>
<script>
  $('form')}}.on('change input typeahead:selected', function() {
    form = $('form')}}.serialize();
    $.getJSON( "{{ url_for('get_matching_tags') }}", form, function( data ) {
      $('.tags_click').each(function() {
        if ($.inArray(parseInt($(this).children('input').first().val(), 10), data.tags) == -1 ) {
          if (!($(this).hasClass('active'))) {
            $(this).addClass('disabled');
          }
        }
        else {
          $(this).removeClass('disabled');
        }
      });
    });
  });
</script>
{% endblock %}
{% block header %}
<link href="{{ url_for('static', filename='css/typeahead.css') }}" rel="stylesheet" media="screen">
{% endblock %}
