{% extends "layout.html" %}
{% block body %}
<div class="col-md-10 col-lg-6">
  <form role="form" id="search" action="{{ url_for('web.advanced_search') }}" method="GET">
    <div class="form-group">
      <label for="book_title">{{_('Book Title')}}</label>
      <input type="text" class="form-control" name="book_title" id="book_title" value="">
    </div>
    <div class="form-group">
      <label for="bookAuthor">{{_('Author')}}</label>
      <input type="text" class="form-control typeahead" name="author_name" id="bookAuthor" value="" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="Publisher">{{_('Publisher')}}</label>
      <input type="text" class="form-control" name="publisher" id="publisher" value="">
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
          <label for="Publishstart">{{_('Published Date From')}}</label>
          <div style="position: relative">
            <input type="date" class="form-control" name="Publishstart" id="Publishstart" value="">
            <input type="text" class="form-control fake-input hidden" id="fake_Publishstart" value="">
          </div>
        </div>
        <div class="form-group col-sm-6">
          <label for="Publishend">{{_('Published Date To')}}</label>
          <div style="position: relative">
            <input type="date" class="form-control" name="Publishend" id="Publishend" value="">
            <input type="text" class="form-control fake-input hidden" id="fake_Publishend" value="">
          </div>
        </div>
    </div>
    <label for="include_tag">{{_('Tags')}}</label>
    <div class="form-group" id="tag">
      <div class="btn-toolbar btn-toolbar-lg" data-toggle="buttons">
        {% for tag in tags %}
          <label id="tag_{{tag.id}}" class="btn btn-primary tags_click">
            <input type="checkbox" autocomplete="off" name="include_tag" id="include_tag" value="{{tag.id}}">{{tag.name}}</input>
          </label>
        {% endfor %}
      </div>
    </div>
    <label for="exclude_tag">{{_('Exclude Tags')}}</label>
    <div class="form-group">
      <div class="btn-toolbar btn-toolbar-lg" data-toggle="buttons">
        {% for tag in tags %}
          <label id="exclude_tag_{{tag.id}}" class="btn btn-danger tags_click">
            <input type="checkbox" autocomplete="off" name="exclude_tag" id="exclude_tag" value="{{tag.id}}">{{tag.name}}</input>
          </label>
        {% endfor %}
      </div>
    </div>
    <label for="include_serie">{{_('Series')}}</label>
    <div class="form-group">
      <div class="btn-toolbar btn-toolbar-lg" data-toggle="buttons">
        {% for serie in series %}
          <label id="serie_{{serie.id}}" class="btn btn-primary serie_click">
            <input type="checkbox" autocomplete="off" name="include_serie" id="include_serie" value="{{serie.id}}">{{serie.name}}</input>
          </label>
        {% endfor %}
      </div>
    </div>
    <label for="exclude_serie">{{_('Exclude Series')}}</label>
    <div class="form-group">
      <div class="btn-toolbar btn-toolbar-lg" data-toggle="buttons">
        {% for serie in series %}
          <label id="exclude_serie_{{serie.id}}" class="btn btn-danger serie_click">
            <input type="checkbox" autocomplete="off" name="exclude_serie" id="exclude_serie" value="{{serie.id}}">{{serie.name}}</input>
          </label>
        {% endfor %}
      </div>
    </div>
    {% if languages %}
      <label for="include_language">{{_('Languages')}}</label>
      <div class="form-group">
        <div class="btn-toolbar btn-toolbar-lg" data-toggle="buttons">
          {% for language in languages %}
            <label id="language_{{language.id}}" class="btn btn-primary serie_click">
              <input type="checkbox" autocomplete="off" name="include_language" id="include_language" value="{{language.id}}">{{language.name}}</input>
            </label>
          {% endfor %}
        </div>
      </div>
      <label for="exclude_language">{{_('Exclude Languages')}}</label>
      <div class="form-group">
        <div class="btn-toolbar btn-toolbar-lg" data-toggle="buttons">
          {% for language in languages %}
            <label id="exclude_language_{{language.id}}" class="btn btn-danger language_click">
              <input type="checkbox" autocomplete="off" name="exclude_language" id="exclude_language" value="{{language.id}}">{{language.name}}</input>
            </label>
          {% endfor %}
        </div>
      </div>
    {% endif%}
    <label for="include_extension">{{_('Extensions')}}</label>
    <div class="form-group" id="extension">
      <div class="btn-toolbar btn-toolbar-lg" data-toggle="buttons">
        {% for extension in extensions %}
          <label id="extension_{{extension.format}}" class="btn btn-primary extension_click">
            <input type="checkbox" autocomplete="off" name="include_extension" id="include_extension" value="{{extension.format}}">{{extension.format}}</input>
          </label>
        {% endfor %}
      </div>
    </div>
    <label for="exclude_extension">{{_('Exclude Extensions')}}</label>
    <div class="form-group">
      <div class="btn-toolbar btn-toolbar-lg" data-toggle="buttons">
        {% for extension in extensions %}
          <label id="exclude_extension_{{extension.format}}" class="btn btn-danger extension_click">
            <input type="checkbox" autocomplete="off" name="exclude_extension" id="exclude_extension" value="{{extension.format}}">{{extension.format}}</input>
          </label>
        {% endfor %}
      </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6">
          <label for="ratinghigh">{{_('Rating Above')}}</label>
          <input type="number"  name="ratinghigh" id="ratinghigh" class="rating input-lg" data-clearable="" >
        </div>
        <div class="form-group col-sm-6">
          <label for="ratinglow">{{_('Rating Below')}}</label>
          <input type="number"  name="ratinglow" id="ratinglow" class="rating input-lg" data-clearable="" >
        </div>
    </div>
    <div class="form-group">
      <label for="comment">{{_('Description')}}</label>
      <input type="text" class="form-control" name="comment" id="comment" value="">
    </div>

    {% if cc|length > 0 %}
      {% for c in cc %}
        <div class="form-group">
        <label for="{{ 'custom_column_' ~ c.id }}">{{ c.name }}</label>
        {% if c.datatype == 'bool' %}
          <select name="{{ 'custom_column_' ~ c.id }}" id="{{ 'custom_column_' ~ c.id }}" class="form-control">
            <option value="" selected></option>
            <option value="True" >{{_('Yes')}}</option>
            <option value="False" >{{_('No')}}</option>
          </select>
        {% endif %}

        {% if c.datatype == 'int' %}
          <input type="number" step="1" class="form-control" name="{{ 'custom_column_' ~ c.id }}" id="{{ 'custom_column_' ~ c.id }}" value="">
        {% endif %}

        {% if c.datatype == 'float' %}
          <input type="number" step="0.01" class="form-control" name="{{ 'custom_column_' ~ c.id }}" id="{{ 'custom_column_' ~ c.id }}" value="">
        {% endif %}

        {% if c.datatype in ['text', 'series'] and not c.is_multiple %}
          <input type="text" class="form-control" name="{{ 'custom_column_' ~ c.id }}" id="{{ 'custom_column_' ~ c.id }}" value="">
        {% endif %}

        {% if c.datatype in ['text', 'series'] and c.is_multiple %}
          <input type="text" class="form-control" name="{{ 'custom_column_' ~ c.id }}" id="{{ 'custom_column_' ~ c.id }}" value="">
        {% endif %}

        {% if c.datatype == 'enumeration' %}
          <select class="form-control" name="{{ 'custom_column_' ~ c.id }}" id="{{ 'custom_column_' ~ c.id }}">
              <option></option>
              {% for opt in c.get_display_dict().enum_values %}
                <option>{{ opt }}</option>
              {% endfor %}
          </select>
        {% endif %}

        {% if c.datatype == 'rating' %}
          <input type="number" min="1" max="5" step="1" class="form-control" name="{{ 'custom_column_' ~ c.id }}" id="{{ 'custom_column_' ~ c.id }}">
        {% endif %}
        </div>
      {% endfor %}
    {% endif %}

    <button type="submit" id="adv_submit" class="btn btn-default">{{_('Search')}}</button>
  </form>
</div>
{% endblock %}

{% block js %}
<script>
  var language = '{{ g.user.locale }}';
</script>

<script src="{{ url_for('static', filename='js/libs/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
{% if not g.user.locale == 'en' %}
<script src="{{ url_for('static', filename='js/libs/bootstrap-datepicker/locales/bootstrap-datepicker.' + g.user.locale + '.min.js') }}" charset="UTF-8"></script>
{% endif %}
<script src="{{ url_for('static', filename='js/libs/bootstrap-rating-input.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/libs/typeahead.bundle.js') }}"></script>
<script src="{{ url_for('static', filename='js/edit_books.js') }}"></script>
<script>
</script>
{% endblock %}
{% block header %}
<link href="{{ url_for('static', filename='css/libs/typeahead.css') }}" rel="stylesheet" media="screen">
<link href="{{ url_for('static', filename='css/libs/bootstrap-datepicker3.min.css') }}" rel="stylesheet" media="screen">
{% endblock %}
