{% extends "layout.html" %}
{% block body %}
<div class="discover">
  <h1>{{title}}</h1>
  <form role="form" method="POST">
    <div class="form-group">
      <label for="title">{{_('Title')}}</label>
      <input type="text" class="form-control" name="title" id="title" value="{{ shelf.name if shelf.name != None }}">
    </div>
    {% if g.user.role_edit_shelfs() %}
      <div class="checkbox">
        <label>
          <input type="checkbox" name="is_public" {% if shelf.is_public == 1 %}checked{% endif %}> {{_('Share with Everyone')}}
        </label>
      </div>
    {% endif %}
    <button type="submit" class="btn btn-default" id="submit">{{_('Save')}}</button>
    {% if shelf.id != None %}
      <a href="{{ url_for('shelf.show_shelf', shelf_id=shelf.id) }}" class="btn btn-default">{{_('Cancel')}}</a>
    {% endif %}
  </form>
</div>
{% endblock %}
