{% extends "layout.html" %}
{% block body %}
  <h3>{{_('About')}}</h3>
<p>{{instance}} powered by 
<a href="https://github.com/janeczku/calibre-web" title="Calibre-Web">Calibre Web</a>.
</p>  
  <h3>{{_('Calibre library statistics')}}</h3>
<table id="stats" class="table">
  <tbody>
    <tr>
      <th>{{bookcounter}}</th>
      <td>{{_('Books in this Library')}}</td>
    </tr>
    <tr>
      <th>{{authorcounter}}</th>
      <td>{{_('Authors in this Library')}}</td>
    </tr>
    <tr>
      <th>{{categorycounter}}</th>
      <td>{{_('Categories in this Library')}}</td>
    </tr>
    <tr>
      <th>{{seriecounter}}</th>
      <td>{{_('Series in this Library')}}</td>
    </tr>
  </tbody>
</table>
  <h3>{{_('Linked libraries')}}</h3>
<table id="libs" class="table">
  <thead>
    <tr>
      <th>{{_('Program library')}}</th>
      <th>{{_('Installed Version')}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Python</th>
      <td>{{versions['PythonVersion']}}</td>
    </tr>
    <tr>
      <th>Kindlegen</th>
      <td>{{versions['KindlegenVersion']}}</td>
    </tr>
    <tr>
      <th>ImageMagick</th>
      <td>{{versions['ImageVersion']}}</td>
    </tr>
    <tr>
      <th>PyPDF2</th>
      <td>v{{versions['PyPdfVersion']}}</td>
    </tr>
    <tr>
      <th>Babel</th>
      <td>v{{versions['babel']}}</td>
    </tr>
    <tr>
      <th>SqlAlchemy</th>
      <td>v{{versions['sqlalchemy']}}</td>
    </tr>
    <tr>
      <th>Flask</th>
      <td>v{{versions['flask']}}</td>
    </tr>
    <tr>
      <th>Flask Login</th>
      <td>v{{versions['flasklogin']}}</td>
    </tr>
    <tr>
      <th>Flask Principal</th>
      <td>v{{versions['flask_principal']}}</td>
    </tr>
    <tr>
      <th>Tornado web server</th>
      <td>v{{versions['tornado']}}</td>
    </tr>
    <tr>
      <th>ISO639 Languages</th>
      <td>v{{versions['iso639']}}</td>
    </tr>
    <tr>
      <th>Requests</th>
      <td>v{{versions['requests']}}</td>
    </tr>
    <tr>
      <th>SQlite</th>
      <td>v{{versions['sqlite']}}</td>
    </tr>
    <tr>
      <th>Pysqlite</th>
      <td>v{{versions['pysqlite']}}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
