{% extends "layout.html" %}
{% block body %}
<div class="discover">
  <h2>{{title}}</h2>
  <table class="table table-striped">
    <tr>
        <th>{{_('Nickname')}}</th>
        <th>{{_('Email')}}</th>
        <th>{{_('Kindle')}}</th>
        <th>{{_('DLS')}}</th>
        <th>{{_('Admin')}}</th>
        <th>{{_('Download')}}</th>
        <th>{{_('Upload')}}</th>
        <th>{{_('Edit')}}</th>
        <th>{{_('Passwd')}}</th>

    </tr>
    {% for user in content %}
      <tr>
        <td><a href="{{url_for('edit_user', user_id=user.id)}}">{{user.nickname}}</a></td>
        <td>{{user.email}}</td>
        <td>{{user.kindle_mail}}</td>
        <td>{{user.downloads.count()}}</td>
        <td>{% if user.role_admin() %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
        <td>{% if user.role_download() %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
        <td>{% if user.role_upload() %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
        <td>{% if user.role_edit() %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
        <td>{% if user.role_passwd() %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>

    {% endfor %}
  </table>
    <div class="btn btn-default"><a href="{{url_for('new_user')}}">{{_('Add new user')}}</a></div>
  <h2>{{_('SMTP mail settings')}}</h2>
  <table class="table table-striped">
    <tr>
        <th>{{_('SMTP hostname')}}</th>
        <th>{{_('SMTP port')}}</th>
        <th>{{_('SSL')}}</th>
        <th>{{_('SMTP login')}}</th>
        <th>{{_('SMTP password')}}</th>
        <th>{{_('From mail')}}</th>
    </tr>
      <tr>
        <td>{{email.mail_server}}</td>
        <td>{{email.mail_port}}</td>
        <td>{% if email.mail_use_ssl %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
        <td>{{email.mail_login}}</td>
        <td>********</td>
        <td>{{email.mail_from}}</td>

  </table>

    <div class="btn btn-default"><a href="{{url_for('edit_mailsettings')}}">{{_('Change SMTP settings')}}</a></div>

</div>
{% endblock %}
