{% extends "layout.html" %}
{% block body %}
<div class="discover">
  <h2>{{title}}</h2>
  <table class="table table-striped">
    <tr>
        <th>Nickname</th>
        <th>Email</th>
        <th>Kindle</th>
        <th>DLS</th>
        <th>Admin</th>
    </tr>
    {% for user in content %}
      <tr>
        <td><a href="{{url_for('edit_user', user_id=user.id)}}">{{user.nickname}}</a></td>
        <td>{{user.email}}</td>
        <td>{{user.kindle_mail}}</td>
        <td>{{user.downloads.count()}}</td>
        <td>{% if user.role %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
    {% endfor %}
  </table>
    <div class="btn btn-default"><a href="{{url_for('new_user')}}">Add new user</a></div>
  <h2>SMTP mail settings</h2>
  <table class="table table-striped">
    <tr>
        <th>SMTP hostname</th>
        <th>SMTP port</th>
        <th>SSL</th>
        <th>SMTP login</th>
        <th>SMTP password</th>
        <th>From mail</th>
    </tr>
      <tr>
        <td>{{email.mail_server}}</td>
        <td>{{email.mail_port}}</td>
        <td>{% if email.mail_use_ssl %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}</td>
        <td>{{email.mail_login}}</td>
        <td>********</td>
        <td>{{email.mail_from}}</td>

  </table>

    <div class="btn btn-default"><a href="{{url_for('edit_mailsettings')}}">Change SMTP settings</a></div>

</div>
{% endblock %}
