future
#sqlalchemy

PyPDF2
babel
blinker
click
flask
flask_babel
flask_login
flask_principal
iso-639
itsdangerous
jinja2
markupsafe
pytz
requests
singledispatch
six
sqlalchemy
tornado
#https://pypi.python.org/packages/02/f8/97105237d0ba693b6f0bdcd94da0504e9a4433988c4393d8d3049094be7a/validate-1.0.1.tar.gz
#validate
wand
werkzeug
