body.serieslist.grid-view div.container-fluid>div>div.col-sm-10:before{
    display: none;
}

.cover .badge{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #cc7b19;
    border-radius: 0;
    padding: 0 8px;
    box-shadow: 0 0 4px rgba(0,0,0,.6);
    line-height: 24px;
}
.cover{
    box-shadow: 0 0 4px rgba(0,0,0,.6);
}
