@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 400;
  src: local('Libre Baskerville'), local('LibreBaskerville-Regular'), url("../fonts/LibreBaskerville-Regular.ttf") format('truetype');
}
@font-face {
  font-family: 'Libre Baskerville';
  font-style: normal;
  font-weight: 700;
  src: local('Libre Baskerville Bold'), local('LibreBaskerville-Bold'), url("../fonts/LibreBaskerville-Bold") format('truetype');
}

body{
	color: #444;
	line-height: 21px;
	font-size: 14px;

}

h1, h2, h3, h4, h5, h6{
	font-family: 'Libre Baskerville';
	color: #45b29d !important;
	font-size: 20px !important;
}
