body {
	background: #444;
    overflow: hidden;
	color: white;
	font-family: sans-serif;
	margin: 0px;
}

.main {
	position: re;
	left: 5px;
    overflow: hidden;
	right: 5px;
	text-align: center;
    top: 5px;
}

#progress {
	position: absolute;
	display: inline;
	left: 90px;
	right: 160px;
	height: 20px;
	margin-top: 1px;
	text-align: right;
}

.hide {
	display: none !important;
}

#mainText {
  text-align: left;
  width: 90%;
  position: relative;
  top: 10px;
  background: #ccc;
  color: black;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  word-wrap: break-word;
}

#mainImage{
   margin-top: 32px; 
}

#titlebar.main {
  opacity: 0;
  position: absolute;
  top: 0;
  height: 30px;
  left: 0;
  right: 0;
  background-color: black;
  padding-bottom: 70px;
  -webkit-transition: opacity 0.2s ease;
  -moz-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  background: -moz-linear-gradient(top, rgba(0,2,34,1) 0%, rgba(0,1,24,1) 30%, rgba(0,0,0,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,2,34,1)), color-stop(30%,rgba(0,1,24,1)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,2,34,1) 0%,rgba(0,1,24,1) 30%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,2,34,1) 0%,rgba(0,1,24,1) 30%,rgba(0,0,0,0) 100%); /* Opera11.10+ */
  background: -ms-linear-gradient(top, rgba(0,2,34,1) 0%,rgba(0,1,24,1) 30%,rgba(0,0,0,0) 100%); /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000222', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  background: linear-gradient(top, rgba(0,2,34,1) 0%,rgba(0,1,24,1) 30%,rgba(0,0,0,0) 100%); /* W3C */
}

#prev {
  left: 40px;
}

#next {
  right: 40px;
}

.arrow {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  font-size: 64px;
  color: #E2E2E2;
  font-family: arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow:hover {
  color: #777;
}

.arrow:active,
.arrow.active {
  color: #000;
}




