body {
	background: #444;
  overflow-x: hidden;
  overflow-y: auto;
	color: white;
	font-family: sans-serif;
	margin: 0px;
}

#main {
	text-align: center;
  z-index: 2;
}

#sidebar a,
#sidebar ul,
#sidebar li,
#sidebar li img {
  max-width: 100%;
  text-align: center;
}

#sidebar a {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#sidebar li img {
  display: block;
  max-height: 200px;
}

#sidebar li img + span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 2px;
  min-width: 25px;
  line-height: 25px;
  background: #6b6b6b;
  border-top-left-radius: 5px;
}

#sidebar #panels {
  z-index: 1;
}

#progress {
	position: absolute;
	display: inline;
  left: 20%;
  right: 20%;
	height: 20px;
  margin-top: 4px;
	text-align: right;
}

.hide {
	display: none !important;
}

#mainContent {
  overflow: auto;
}

#mainText {
  text-align: left;
  width: 90%;
  position: relative;
  top: 10px;
  background: #ccc;
  color: black;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
  word-wrap: break-word;
}

#titlebar {
  min-height: 25px;
  height: auto;
}

#prev {
  left: 40px;
}

#next {
  right: 40px;
}

.arrow {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  font-size: 64px;
  color: #E2E2E2;
  font-family: arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow:hover {
  color: #777;
}

.arrow:active,
.arrow.active {
  color: #000;
}

th, td {
  padding: 5px;
}

th {
  text-align: right;
  vertical-align: top;
}

.modal {
  /* Makes the modal responsive. Note sure if this should be moved to main.css */
  margin: 0;
  max-width: 96%;
  transform: translate(-50%, -50%);
}

.md-content {
  min-height: 320px;
  height: auto;
}

.md-content > div {
  overflow: hidden;
}

.md-content > div p {
  padding: 5px 0;
}

.settings-column {
  float: left;
  min-width: 35%;
  padding-bottom: 10px;
}

.inputs {
  margin: -5px;
}

.inputs input {
  vertical-align: middle;
}

.inputs label {
  display: inline-block;
  margin: 5px;
  white-space: nowrap;
}

.dark-theme #main {
  background-color: #000;
}

.dark-theme #titlebar {
  color: #DDD;
}

.dark-theme #titlebar a:active {
  color: #FFF;
}

.dark-theme .overlay {
  background-color: rgba(0,0,0,0.8);
}
