.fontSizeWrapper {
  position: relative;
}

.slider {
  /* position: absolute; */
  /* top: 50%; */
  /* transform: translate(0, -50%); */
  /* width: 90%; */
  margin-top: 10px;
  background: transparent;
  border-radius: 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 15px 40px #7e6d5766;
}

/* .slider label {
  font-size: 20px;
  font-weight: 400;
  font-family: Open Sans;
  padding-right: 10px;
  color: white;
} */

input[type="checkbox"] {
    margin-right: 10px;
}

select {
    margin-top: 10px;
    min-width: 50%;
}

.slider input[type="range"] {
  display: block;
  width: 80%;
  height: 5px;
  background: black;
  border: none;
  outline: none;
  margin-right: 10px;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.themes button {
  display: inline-block;
  border: none;
  text-align: center;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 16px;
}

.md-content .themes button.darkTheme {
  background-color: #202124;
  color: white;
}

.md-content .themes button.whiteTheme {
  background-color: white;
  color: black;
}

.md-content .themes button.sepiaTheme {
  background-color: #ece1ca;
  color: black;
}

.md-content .themes button.blackTheme {
  background-color: black;
  color: white;
}
