/* BOOKS GRID */

.book-cover {
    width: 100%;
    text-align: center;
}

.book-cover img {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 10px; 
}

.books-grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 15px;
}

.action-bar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    background-color: ;
}

/* LAYOUT & NAVBAR */
body { 
    display: flex; 
    overflow-x: hidden; 
    margin: 0; 
    background-color: #000000;
    padding: 5px;

}
.app-wrapper { 
    display: flex; 
    width: 100%; 
    height: calc(100vh - 10px); 
    overflow: hidden; 
    border-radius: 40px;
    background-color: #F94C4C;
}

#bookbag-navbar { 
    margin: 10px;
    border-radius: 30px;
    width: auto; 
    display: flex; 
    flex-direction: column; 
    flex-shrink: 0;
    background: rgba(255, 255, 255, 0.9); 
    border-right: 1px solid #ddd; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}
#navbar-menus-wrapper { 
    display: flex; 
    flex-direction: column; 
    flex-grow: 1;
    justify-content: space-between;}

.nav-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    gap: 5px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 100px;
    border: 0px;
    background-color: transparent;
}
.nav-button-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navigation-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
  }
.main-content-wrapper { 
    flex-grow: 1; 
    padding: 20px; 
    overflow-y: auto; 
    display: block; }
      
.navbar-left-vertical { 
    padding: 15px; }

.nav-head { 
    font-weight: bold; 
    padding: 10px 0; 
    border-bottom: 1px solid #eee; 
    margin-bottom: 5px; }