{% import 'image.html' as image %}
{% extends theme("layout.html") %}
{% block body %}
{% if current_user.show_detail_random() and page != "discover" %}
<div class="discover random-books mb-4">
  <h2 class="random-books h4 mb-3">{{_('Discover (Random Books)')}}</h2>
  <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-6 g-3">
   {% for entry in random %}
    <div class="col book session" id="books_rand">
      <div class="cover mb-2">
          <a href="{{ url_for('web.show_book', book_id=entry.Books.id) }}" {% if simple==false %}data-bs-toggle="modal" data-bs-target="#bookDetailsModal" data-remote="false"{% endif %}>
              <span class="img d-block position-relative" title="{{ entry.Books.title }}">
                {{ image.book_cover(entry.Books) }}
                {% if entry[2] == True %}<span class="badge bg-success rounded-pill position-absolute top-0 end-0 m-2"><i class="bi bi-check-lg"></i></span>{% endif %}
              </span>
          </a>
      </div>
      <div class="meta">
        <a href="{{ url_for('web.show_book', book_id=entry.Books.id) }}" {% if simple==false %}data-bs-toggle="modal" data-bs-target="#bookDetailsModal" data-remote="false"{% endif %}>
          <p title="{{entry.Books.title}}" class="title mb-1">{{entry.Books.title|shortentitle}}</p>
        </a>
        <p class="author mb-1">
          {% for author in entry.Books.authors %}
            {% if loop.index > g.config_authors_max and g.config_authors_max != 0 %}
              {% if not loop.first %}
                <span class="author-hidden-divider">&amp;</span>
              {% endif %}
              <a class="author-name author-hidden" href="{{url_for('web.books_list', data='author', sort_param='stored', book_id=author.id) }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
              {% if loop.last %}
                <a href="#" class="author-expand" data-authors-max="{{g.config_authors_max}}" data-collapse-caption="({{_('reduce')}})">(...)</a>
              {% endif %}
            {% else %}
              {% if not loop.first %}
                <span>&amp;</span>
              {% endif %}
              <a class="author-name" href="{{url_for('web.books_list',  data='author', sort_param='stored', book_id=author.id) }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
            {% endif %}
          {% endfor %}
        </p>
        {% if entry.Books.series.__len__() > 0 %}
        <p class="series mb-1">
          <a href="{{url_for('web.books_list', data='series', sort_param='stored', book_id=entry.Books.series[0].id )}}">
            {{entry.Books.series[0].name}}
          </a>
          ({{entry.Books.series_index|formatfloat(2)}})
        </p>
        {% endif %}
        {% if entry.Books.ratings.__len__() > 0 %}
        <div class="rating text-warning small">
          {% for number in range((entry.Books.ratings[0].rating/2)|int(2)) %}
            <i class="bi bi-star-fill"></i>
            {% if loop.last and loop.index < 5 %}
              {% for numer in range(5 - loop.index) %}
                <i class="bi bi-star"></i>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}
<div class="discover load-more">
  <h2 class="{{title}} h3 mb-3">{{title}}</h2>
   {% if page != 'discover' %}
    <div class="filterheader d-none d-md-block mb-3">
    {% if page == 'hot' %}
      <a data-bs-toggle="tooltip" title="{{_('Sort ascending according to download count')}}" id="hot_asc" class="btn btn-primary btn-sm{% if order == "hotasc" %} active{% endif%}" href="{{url_for('web.books_list', data=page, book_id=id, sort_param='hotasc')}}"><i class="bi bi-sort-down"></i></a>
      <a data-bs-toggle="tooltip" title="{{_('Sort descending according to download count')}}" id="hot_desc" class="btn btn-primary btn-sm{% if order == "hotdesc" %} active{% endif%}" href="{{url_for('web.books_list', data=page, book_id=id, sort_param='hotdesc')}}"><i class="bi bi-sort-down-alt"></i></a>
    {% else %}
      <a data-bs-toggle="tooltip" title="{{_('Sort according to book date, newest first')}}" id="new" class="btn btn-primary btn-sm{% if order == "new" %} active{% endif%}" href="{{url_for('web.books_list', data=page, book_id=id, sort_param='new')}}"><i class="bi bi-book"></i> <i class="bi bi-calendar3"></i> <i class="bi bi-sort-down"></i></a>
      <a data-bs-toggle="tooltip" title="{{_('Sort according to book date, oldest first')}}" id="old" class="btn btn-primary btn-sm{% if order == "old" %} active{% endif%}" href="{{url_for('web.books_list', data=page, book_id=id, sort_param='old')}}"><i class="bi bi-book"></i> <i class="bi bi-calendar3"></i> <i class="bi bi-sort-down-alt"></i></a>
      <a data-bs-toggle="tooltip" title="{{_('Sort title in alphabetical order')}}" id="asc" class="btn btn-primary btn-sm{% if order == "abc" %} active{% endif%}" href="{{url_for('web.books_list', data=page, book_id=id, sort_param='abc')}}"><i class="bi bi-fonts"></i> <i class="bi bi-sort-alpha-down"></i></a>
      <a data-bs-toggle="tooltip" title="{{_('Sort title in reverse alphabetical order')}}" id="desc" class="btn btn-primary btn-sm{% if order == "zyx" %} active{% endif%}" href="{{url_for('web.books_list', data=page, book_id=id, sort_param='zyx')}}"><i class="bi bi-fonts"></i> <i class="bi bi-sort-alpha-down-alt"></i></a>
      <a data-bs-toggle="tooltip" title="{{_('Sort authors in alphabetical order')}}" id="auth_az" class="btn btn-primary btn-sm{% if order == "authaz" %} active{% endif%}" href="{{url_for('web.books_list', data=page, book_id=id, sort_param='authaz')}}"><i class="bi bi-person"></i> <i class="bi bi-sort-alpha-down"></i></a>
      <a data-bs-toggle="tooltip" title="{{_('Sort authors in reverse alphabetical order')}}" id="auth_za" class="btn btn-primary btn-sm{% if order == "authza" %} active{% endif%}" href="{{url_for('web.books_list', data=page, book_id=id, sort_param='authza')}}"><i class="bi bi-person"></i> <i class="bi bi-sort-alpha-down-alt"></i></a>
      <a data-bs-toggle="tooltip" title="{{_('Sort according to publishing date, newest first')}}" id="pub_new" class="btn btn-primary btn-sm{% if order == "pubnew" %} active{% endif%}" href="{{url_for('web.books_list', data=page, book_id=id, sort_param='pubnew')}}"><i class="bi bi-calendar3"></i> <i class="bi bi-sort-down"></i></a>
      <a data-bs-toggle="tooltip" title="{{_('Sort according to publishing date, oldest first')}}" id="pub_old" class="btn btn-primary btn-sm{% if order == "pubold" %} active{% endif%}" href="{{url_for('web.books_list', data=page, book_id=id, sort_param='pubold')}}"><i class="bi bi-calendar3"></i> <i class="bi bi-sort-down-alt"></i></a>
      {% if page == 'series' %}
      <a data-bs-toggle="tooltip" title="{{_('Sort ascending according to series index')}}" id="series_asc" class="btn btn-primary btn-sm{% if order == "seriesasc" %} active{% endif%}" href="{{url_for('web.books_list', data=page, book_id=id, sort_param='seriesasc')}}"><i class="bi bi-sort-down"></i></a>
      <a data-bs-toggle="tooltip" title="{{_('Sort descending according to series index')}}" id="series_desc" class="btn btn-primary btn-sm{% if order == "seriesdesc" %} active{% endif%}" href="{{url_for('web.books_list', data=page, book_id=id, sort_param='seriesdesc')}}"><i class="bi bi-sort-down-alt"></i></a>
      {% endif %}
    {% endif %}
    </div>
   {% endif %}
  <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-6 g-3">
    {% if entries[0] %}
    {% for entry in entries %}
    <div class="col book session" id="books">
      <div class="cover mb-2">
          <a href="{{ url_for('web.show_book', book_id=entry.Books.id) }}" {% if simple==false %}data-bs-toggle="modal" data-bs-target="#bookDetailsModal" data-remote="false"{% endif %}>
            <span class="img d-block position-relative" title="{{ entry.Books.title }}">
              {{ image.book_cover(entry.Books) }}
              {% if entry[2] == True %}<span class="badge bg-success rounded-pill position-absolute top-0 end-0 m-2"><i class="bi bi-check-lg"></i></span>{% endif %}
            </span>
          </a>
      </div>
      <div class="meta">
        <a href="{{ url_for('web.show_book', book_id=entry.Books.id) }}" {% if simple==false %}data-bs-toggle="modal" data-bs-target="#bookDetailsModal" data-remote="false"{% endif %}>
          <p title="{{ entry.Books.title }}" class="title mb-1">{{entry.Books.title|shortentitle}}</p>
        </a>
        <p class="author mb-1">
          {% for author in entry.Books.authors %}
            {% if loop.index > g.config_authors_max and g.config_authors_max != 0 %}
              {% if not loop.first %}
                <span class="author-hidden-divider">&amp;</span>
              {% endif %}
              <a class="author-name author-hidden" href="{{url_for('web.books_list', data='author', book_id=author.id, sort_param='stored') }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
              {% if loop.last %}
                <a href="#" class="author-expand" data-authors-max="{{g.config_authors_max}}" data-collapse-caption="({{_('reduce')}})">(...)</a>
              {% endif %}
            {% else %}
              {% if not loop.first %}
                <span>&amp;</span>
              {% endif %}
              <a class="author-name" href="{{url_for('web.books_list', data='author', book_id=author.id, sort_param='stored') }}">{{author.name.replace('|',',')|shortentitle(30)}}</a>
            {% endif %}
          {% endfor %}
          {% if entry.Books.data|music %}
            <i class="bi bi-music-note-beamed"></i>
          {% endif %}
        </p>
        {% if entry.Books.series.__len__() > 0 %}
        <p class="series mb-1">
        {% if page != "series" %}
          <a href="{{url_for('web.books_list', data='series', sort_param='stored', book_id=entry.Books.series[0].id )}}">
            {{entry.Books.series[0].name}}
          </a>
        {% else %}
            <span>{{entry.Books.series[0].name}}</span>
        {% endif %}
          ({{entry.Books.series_index|formatfloat(2)}})
        </p>
        {% endif %}
        {% if entry.Books.ratings.__len__() > 0 %}
        <div class="rating text-warning small">
          {% for number in range((entry.Books.ratings[0].rating/2)|int(2)) %}
            <i class="bi bi-star-fill"></i>
            {% if loop.last and loop.index < 5 %}
              {% for numer in range(5 - loop.index) %}
                <i class="bi bi-star"></i>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}
