{% extends theme("layout.html") %}
{% block body %}
<h1 class="{{page}} h2 mb-3">{{_(title)}}</h1>

    <div class="filterheader d-none d-md-block mb-3">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      {% if entries.__len__() and data == 'author' %}
        <div id="sort_name" class="btn btn-primary btn-sm"><b>B,A <-> A B</b></div>
      {% endif %}
      <div id="asc" data-order="{{ order }}" data-id="{{ data }}" class="btn btn-primary btn-sm {% if order == 1 %} active{% endif%}"><i class="bi bi-sort-alpha-down"></i></div>
      <div id="desc" data-id="{{ data }}" class="btn btn-primary btn-sm{% if order == 0 %} active{% endif%}"><i class="bi bi-sort-alpha-down-alt"></i></div>
      {% if charlist|length %}
      <div id="all" class="active btn btn-primary btn-sm {% if charlist|length > 9 %}d-none d-md-inline-block{% endif %}">{{_('All')}}</div>
      {% endif %}
      <div class="btn-group character {% if charlist|length > 9 %}d-none d-md-inline-flex{% endif %}" role="group">
        {% for char in charlist%}
        <div class="btn btn-primary btn-sm char">{{char[0]}}</div>
        {% endfor %}
      </div>

      {% if data == "series" %}
      <button class="update-view btn btn-primary btn-sm" data-bs-target="series_view" id="grid-button" data-view="grid">{{_('Grid')}}</button>
      {% endif %}
    </div>
  <div class="container-fluid px-0">
    <div id="list" class="row g-3">
    {% for entry in entries %}
      {% if loop.index0 == (loop.length/2+loop.length%2)|int and loop.length > 20 %}
        </div>
        <div id="second" class="col-12 col-md-6">
      {% endif %}
      <div class="row g-2" {% if entry[0].sort %}data-name="{{entry[0].name}}"{% endif %} data-id="{% if entry[0].sort %}{{entry[0].sort}}{% else %}{% if entry[0].format %}{{entry[0].format}}{% else %}{% if entry[0].rating %}{{entry[0].rating}}{% else %}{{entry[0].name}}{% endif %}{% endif %}{% endif %}">
        <div class="col-2 col-md-1 text-start"><span class="badge bg-secondary rounded-pill">{{entry[1]}}</span></div>
        <div class="col-10 col-md-11"><a id="list_{{loop.index0}}" href="{% if entry.format %}{{url_for('web.books_list', data=data, sort_param='stored', book_id=entry.format )}}{% else %}{{url_for('web.books_list', data=data, sort_param='stored', book_id=entry[0].id )}}{% endif %}">
          {% if entry.name %}
          <div class="rating text-warning small">
          {% for number in range(entry.name|int) %}
            <i class="bi bi-star-fill"></i>
            {% if loop.last and loop.index < 5 %}
              {% for numer in range(5 - loop.index) %}
                <i class="bi bi-star"></i>
              {% endfor %}
            {% endif %}
          {% endfor %}
          </div>
          {% else %}
          {% if entry.format %}
            {{entry.format}}
          {% else %}
            {{entry[0].name}}{% endif %}{% endif %}</a></div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
{% block js %}
<script src="{{ url_for('static', filename='js/filter_list.js') }}"></script>
{% endblock %}
