{% extends theme("layout.html") %}
{% block body %}
<div class="container-fluid px-0">
  <h3 class="mb-2">{{_('About')}} {{instance}}</h3>
  <p class="mb-4">{{instance}} powered by
  <a href="https://github.com/janeczku/calibre-web" title="Calibre-Web">Calibre-Web</a>.
  </p>
  <h3 class="mb-3">{{_('Library Statistics')}}</h3>
  <div class="table-responsive mb-4">
    <table id="stats" class="table table-striped align-middle mb-0">
      <tbody>
        <tr>
          <th class="w-auto">{{bookcounter}}</th>
          <td>{{_('Books in this Library')}}</td>
        </tr>
        <tr>
          <th>{{authorcounter}}</th>
          <td>{{_('Authors in this Library')}}</td>
        </tr>
        <tr>
          <th>{{categorycounter}}</th>
          <td>{{_('Categories in this Library')}}</td>
        </tr>
        <tr>
          <th>{{seriecounter}}</th>
          <td>{{_('Series in this Library')}}</td>
        </tr>
      </tbody>
    </table>
  </div>
{% if current_user.role_admin() %}
  <h3 class="mb-3">{{_('System Statistics')}}</h3>
  <div class="table-responsive">
    <table id="libs" class="table table-striped align-middle mb-0">
      <thead>
        <tr>
          <th>{{_('Program')}}</th>
          <th>{{_('Installed Version')}}</th>
        </tr>
      </thead>
      <tbody>
      {% for library,version in versions.items() %}
      {% if version %}
        <tr>
          <th>{{library}}</th>
          <td>{{version}}</td>
        </tr>
      {% endif %}
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
</div>
{% endblock %}
